<div class="page-header">
    <h1>Registration form</h1>
</div>

<div class="row" id="formErrors">
    <div class="col-sm-10 col-sm-offset-2 formErrors">
        {{#each errors}}
            <p class="bg-danger">{{this}}</p>
        {{/each}}
    </div>
</div>

<form class="form-horizontal" action="/" method="POST">
  <div class="form-group {{formClass errors 'name'}}">
    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" value="{{values.name}}">
    </div>
  </div>
  <div class="form-group {{formClass errors 'email'}}">
    <label for="inputEmail3" class="col-sm-2 control-label">Email address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="email" value="{{values.email}}">
    </div>
  </div>
  <div class="form-group {{formClass errors 'age'}}">
    <label for="inputEmail3" class="col-sm-2 control-label">Age</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="age" value="{{values.age}}">
    </div>
  </div>
  <div class="form-group {{formClass errors 'coffee'}}">
    <label for="inputEmail3" class="col-sm-2 control-label">Coffee preference</label>
    <div class="col-sm-10">
      <select class="form-control" name="coffee" value="{{values.coffee}}">
        <option disabled selected> -- select an option -- </option>
        <option {{isSelected values.coffee 'flat_white'}} value="flat_white">Flat white</option>
        <option {{isSelected values.coffee 'latte'}} value="latte">Latte</option>
        <option {{isSelected values.coffee 'capuccino'}} value="capuccino">Capuccino</option>
        <option {{isSelected values.coffee 'americano'}} value="americano">Americano</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>


