 <a class="recipe-summary" href="/recipes/{{id}}">
    <h3 class="recipe-summary-name">{{name}} ({{cuisine}})</h3> 
    <span class="stars">{{stars}} ★</span>
    <p class="recipe-info">Serves: {{serves}} | Prep: {{prep_time}} | Cooking: {{cooking_time}}</p>
</a>